.InputsForNumbers {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
    width: 350px;
    height: 61px;
    background-color: #FAFAFA;

.InputsForNumbers_input{
    border: none;
    background-color: #FAFAFA;
    font-size: 15px;
    width: 250px;
    height: 50px;

}


    .InputsForNumbers_img{
        margin-right: 20px;
    }
}