.John {


    .John_img {
        margin-left: 42px;
        margin-top: 51px;
        position: absolute;
    }

    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;

    .John_ProfilePhoto {
        text-align: center;
        margin-left: 20px;
        width: 204px;
        margin-left: auto;
        margin-right: auto;

        .John_ProfilePhoto_text {
            color: #a2a2a2;
        }
    }

    .John_PersonalData_button {
        margin-top: 100px;
        border-radius: 20px;
        background-color: #C7FF24;
        border: none;
        width: 350px;
        height: 48px;
    }
}