@font-face {

  font-family: 'GT Eesti Pro Display';
  src: url('./GT Eesti Pro Display/gteestiprodisplay_bold.otf'),
    url('./GT Eesti Pro Display/gteestiprodisplay_light.otf'),
    url('./GT Eesti Pro Display/gteestiprodisplay_medium.otf'),
    url('./GT Eesti Pro Display/gteestiprodisplay_regular.otf'),
    url('./GT Eesti Pro Display/gteestiprodisplay_thin.otf'),
    url('./GT Eesti Pro Display/gteestiprodisplay_ultrabold.otf'),
  ;



}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-condensed-title {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-heading {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}



.App {
  font-family: "Inter", serif;
  padding: 20px;
}

.nav {
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  margin-right: 20px;
}

.nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}