.DirectionSports {
    background: #FAFAFA;

    margin-top: 20px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #FAFAFA;
    width: 350px;

    .DirectionSports_hh1 {
        margin-top: 7px;
    }

}

.content {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #FAFAFA;
    width: 350px;
    height: 70px;
}